.wrapSmartPointer {
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 2147483647;
}
#pointLightSmartPointer {
    position: fixed;
    top: 50%;
    left: 50%;

    display: block;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: red;
}

.circleSmartPointer::after{
    content: '';
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-color: rgba(153, 255, 0, 0.5);

    position: absolute;
    top: -50px;
    left: -50px;
}

.topSmartPointer {
    position: fixed;
    top: 0;
    left: 50%;
}
.bottomSmartPointer {
    position: fixed;
    bottom: 0;
    left: 50%;
}
.leftSmartPointer {
    position: fixed;
    top: 50%;
    left: 0;
}
.rightSmartPointer {
    position: fixed;
    top: 50%;
    right: 0;
}
.centerSmartPointer {
    position: fixed;
    top: 50%;
    left: 50%;
}