*{
    box-sizing: border-box;
}
body {
    width: 100px;
    height: 100px;
    text-align: center;
}

button {
    padding: 0.5em;
    border-radius: 0.5em;
    background-color: rgb(242, 253, 230);
}

div {
    margin: 1em;
    font-size: larger;
}